@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFF2F5;
  font-family: 'Inter', sans-serif;
}
div::-webkit-scrollbar {
 display: none;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  color: blue;
  border-bottom: 0.3rem solid blue;
  font-weight: 900;
}
